//////////////////////////////
// Variables
//////////////////////////////

// Breakpoints
$breakpoints: (
  'alpha': (min-width: 481px),
  'bravo': (min-width: 769px),
  'charlie': (min-width: 1025px)
);

// Colors
$c-white: #fff;
$c-black: #000;

// Z-indexes
$z-indexes: (
  'default': 'auto'
);
